<ion-view view-title="Comments">

  <ion-nav-bar style="display: none;"></ion-nav-bar>

  <ion-content style="top: 0px;">
    <div class="comments_page">

      <ul class="list">

        <li class="item comment_item">
          <div class="row">
            <div class="col-25">
              <img src="../img/img7.png" alt="" class="full-image"/>
            </div>
            <div class="col-75 padding-horizontal">
              <p class="font_14px">Sub Heading</p>
              <h4 class="font_16px font_bold helvetica_neue_thin">Table Item Text</h4>

              <p class="font_14px">Table Item Subtitle Text </p>
            </div>
          </div>
        </li>

        <li class="item comment_item">
          <div class="row">
            <div class="col-25">
              <img src="../img/img7.png" alt="" class="full-image"/>
            </div>
            <div class="col-75 padding-horizontal">
              <p class="font_14px">Sub Heading</p>
              <h4 class="font_16px font_bold helvetica_neue_thin">Table Item Text</h4>

              <p class="font_14px">Table Item Subtitle Text </p>
            </div>
          </div>
        </li>

        <li class="item comment_item">
          <div class="row">
            <div class="col-25">
              <img src="../img/img7.png" alt="" class="full-image"/>
            </div>
            <div class="col-75 padding-horizontal">
              <p class="font_14px">Sub Heading</p>
              <h4 class="font_16px font_bold helvetica_neue_thin">Table Item Text</h4>

              <p class="font_14px">Table Item Subtitle Text </p>
            </div>
          </div>
        </li>

        <li class="item comment_item">
          <div class="row">
            <div class="col-25">
              <img src="../img/img7.png" alt="" class="full-image"/>
            </div>
            <div class="col-75 padding-horizontal">
              <p class="font_14px">Sub Heading</p>
              <h4 class="font_16px font_bold helvetica_neue_thin">Table Item Text</h4>

              <p class="font_14px">Table Item Subtitle Text </p>
            </div>
          </div>
        </li>

        <li class="item comment_item">
          <div class="row">
            <div class="col-25">
              <img src="../img/img7.png" alt="" class="full-image"/>
            </div>
            <div class="col-75 padding-horizontal">
              <p class="font_14px">Sub Heading</p>
              <h4 class="font_16px font_bold helvetica_neue_thin">Table Item Text</h4>

              <p class="font_14px">Table Item Subtitle Text </p>
            </div>
          </div>
        </li>

        <li class="item comment_item">
          <div class="row">
            <div class="col-25">
              <img src="../img/img7.png" alt="" class="full-image"/>
            </div>
            <div class="col-75 padding-horizontal">
              <p class="font_14px">Sub Heading</p>
              <h4 class="font_16px font_bold helvetica_neue_thin">Table Item Text</h4>

              <p class="font_14px">Table Item Subtitle Text </p>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </ion-content>

  <div class="bar bar-footer">
    <div class="row">
      <div class="col-25">
        <div class="padding-horizontal" style="font-size: 30px;" ng-click="$ionicGoBack()">
          <img src="../css/icons/back-arrow.svg" alt="" height="25px"/>
        </div>
      </div>
      <div class="col-offset-50 col-25 text-center">
        <div class="padding-horizontal pull_right" style="font-size: 30px;" ng-click="writeComment()">
          <img src="../css/icons/4buttons-gey/comment-grey.svg" alt="" height="30px"/>
        </div>
      </div>
    </div>
  </div>

</ion-view>