<ion-modal-view class="share_modal_view">
  <!--<ion-header-bar>
    <h1 class="title">My Modal title</h1>
  </ion-header-bar>-->
  <ion-content>
    <div class="share_modal_clickable_content" ng-click="closeCommentModal()"></div>
    <div class="comment_box_div">
      <div class="position_relative">
        <div class="position_absolute width_100p" style="top: 2vh;">
          <input type="text" class="comment_box" placeholder="Enter Comment" autofocus/>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>