<ion-view class="">
  <!--<ion-header-bar>

  </ion-header-bar>-->
  <ion-nav-bar style="display: none;"></ion-nav-bar>

  <ion-content class="forgot_password_modal" style="top: 0px;">

    <div class="row">
      <div class="col-10">
        <div class="back_btn">
          <button ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item">
            <i class="icon ion-ios-arrow-back"></i>
            <!--<span class="back-text"><span class="default-title">Back</span><span class="previous-title hide"></span></span>-->
          </button>
        </div>
      </div>
      <div class="col-90 padding-top">
        <h4 class="title text-center color_ff font_bold">Forgot Password</h4>
      </div>

    </div>


    <div class="padding-horizontal color_ff">

      <!--<div class="row" style="padding-top: 15px;">
        <div class="col-90">
          <h4 class="title text-center color_ff font_bold">Forgot Password</h4>
        </div>
        <div class="col-10">
          <div class="buttons">
            <button class="button button-clear" ng-click="closeForgotPassword()">
              <i class="ion-close" style="font-size: 24px;"></i>
            </button>
          </div>
        </div>
      </div>-->

      <p class="hr_line_ff_95p"></p>

      <div class="" style="margin-top: 20px;">
        <p>Please enter the mobile number you used for sign up, we'll send you a new password by text message.</p>
      </div>

      <p class="" style="margin-top: 20px;"></p>

      <div>
        <div class="list">
          <label class="item item-input margin_vertical">
            <input type="password" placeholder="Please enter your mobile number">
          </label>
        </div>
        <button class="button button-outline button-block font_bold color_ff">SEND NEW PASSWORD</button>
      </div>

    </div>



  </ion-content>
</ion-view>
