<ion-view view-title="">

  <ion-nav-bar class="bar-light media_list_header">
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-title>
      <img src="../img/logo.png" alt="Logo" class="padding" style="width: 65px; height: 80px;"/>
    </ion-nav-title>
    <ion-nav-buttons side="right" class="text-center"></ion-nav-buttons>
  </ion-nav-bar>

  <div class="tabs-striped tabs-top tabs-background-light tabs-color-light">
    <div class="tabs media_list_tabs" style="margin-top: 40px;">
      <div style="position: relative; padding: 0 15px;">
        <div class="tab-item" ng-class="{'active_tab':(listUnderTagTab == 1)}" ng-click="showListUnderTag(1)">
          Media
        </div>
      </div>
      <div style="position: relative; padding: 0 15px;">
        <div class="tab-item" ng-class="{'active_tab':(listUnderTagTab == 2)}" ng-click="showListUnderTag(2)">
          Style
        </div>
      </div>
      <div style="position: relative; padding: 0 15px;">
        <div class="tab-item" ng-class="{'active_tab':(listUnderTagTab == 3)}" ng-click="showListUnderTag(3)">
          About
        </div>
      </div>
    </div>

  </div>

  <ion-content class="media_list_page"  style="margin-top: 90px">
    <div>
      <div ng-show="listUnderTagTab==1">
        <div>
          <h4 class="text-center padding-vertical helvetica_neue_ultra_light font_28px">Welcome to deerdear</h4>

          <div class="text-center"><img src="../img/boxes.png" alt=""/></div>
          <p class="text-center font_20px padding-vertical color_55">This is some description</p>
        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="../img/img1.png" alt="" class="full-image"/>
            <h4 class="text-center color_88">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="comments()"><i class="icon ion-android-textsms"></i> <span>123</span></div>
            </div>
          </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="../img/img2.png" alt="" class="full-image"/>
            <h4 class="text-center color_88">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()"><i class="icon ion-android-textsms"></i> <span>0</span></div>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="../img/img3.png" alt="" class="full-image"/>
            <h4 class="text-center color_88">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="comments()"><i class="icon ion-android-textsms"></i> <span>123</span></div>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="../img/img1.png" alt="" class="full-image"/>
            <h4 class="text-center color_88">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()"><i class="icon ion-android-textsms"></i> <span>0</span></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="listUnderTagTab==2">
        <div>
          <h4 class="text-center padding-vertical">Welcome to deerdear</h4>

          <div class="text-center"><img src="../img/boxes.png" alt=""/></div>
          <p class="text-center">Description</p>
        </div>

        <div class="padding-vertical">
          <div ng-click="stylePage()">
            <img src="../img/item6.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <h4 class="text-center color_88">Article Title</h4>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="comments()"><i class="icon ion-android-textsms"></i> <span>123</span></div>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/img2.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <h4 class="text-center color_88">Article Title</h4>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()"><i class="icon ion-android-textsms"></i> <span>0</span></div>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/item7.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <h4 class="text-center color_88">Article Title</h4>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="comments()"><i class="icon ion-android-textsms"></i> <span>123</span></div>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/item6.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <h4 class="text-center color_88">Article Title</h4>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click=""><i class="icon ion-thumbsup"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-android-share-alt"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click=""><i class="icon ion-ios-heart"></i> <span>123</span></div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()"><i class="icon ion-android-textsms"></i> <span>0</span></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="listUnderTagTab==3">
        <div>
          <div class="padding-horizontal">
            <h3 class="text-center padding-vertical">THE FASION WORLD ONLINE</h3>

            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eveniet pariatur quo sed.
              Aliquam
              distinctio esse illo odio similique tempora vel voluptate? Aliquam amet blanditiis impedit natus, nesciunt
              odio sit.</p>

            <div class="text-center">
              <img src="../img/boxes.png" alt=""/>
            </div>

            <h4 class="text-center">FASHION ON deerdear</h4>

            <p class="text-center font_bold">Description</p>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi beatae est et eum exercitationem
              facilis
              ipsam iste libero minus nobis non provident quasi quod repellendus rerum, sequi similique temporibus!</p>

          </div>

          <div class="padding-vertical">
            <img src="../img/about_img1.png" alt="" class="full-image"/>
            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

          <div class="padding-vertical text-center">
            <img src="../img/about_img2.png" alt="" class="width_80p"/>
            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

          <div class="padding-vertical">
            <img src="../img/about_img3.png" alt="" class="full-image"/>
            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

          <div class="padding-vertical text-center">
            <img src="../img/about_img4.png" alt="" class="width_80p"/>
            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

        </div>

        <div class="padding-horizontal">
          <div class="text-center">
            <img src="../img/boxes.png" alt=""/>
          </div>

          <h4 class="text-center">FASHION ON deerdear</h4>

          <p class="text-center font_bold">Description</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi beatae est et eum exercitationem
            facilis
            ipsam iste libero minus nobis non provident quasi quod repellendus rerum, sequi similique temporibus!</p>

        </div>

        <div class="padding-vertical">
          <img src="../img/about_img1.png" alt="" class="full-image"/>
          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>

        <div class="padding-vertical text-center">
          <img src="../img/about_img2.png" alt="" class="width_80p"/>
          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>

        <div class="padding-vertical">
          <img src="../img/about_img3.png" alt="" class="full-image"/>
          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>

        <div class="padding-vertical text-center">
          <img src="../img/about_img4.png" alt="" class="width_80p"/>
          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>


      </div>

    </div>
  </ion-content>

</ion-view>