<ion-view view-title="">

  <ion-nav-bar style="display: none;"></ion-nav-bar>

  <div class="bar-light media_list_header">
    <div class="back_btn_show" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-left color_ff"></i>
    </div>
  </div>

  <ion-content class="media_list_page" style="top:0; overflow: scroll;">
    <div>
      <div>
        <h4 class="text-center padding-vertical helvetica_neue_ultra_light font_24px">Welcome to deerdear</h4>

        <div class="text-center">
          <img src="css/icons/divider.svg" alt=""/>
        </div>
        <p class="text-center font_20px padding-vertical color_55">This is some description</p>
      </div>

      <div class="padding-vertical">
        <div ng-click="mediaPage()">
          <img src="../img/img1.png" alt="" class="full-image"/>
          <h4 class="text-center color_88">Article Title</h4>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="comments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
        </div>

      </div>

      <div class="padding-vertical">
        <div ng-click="mediaPage()">
          <img src="../img/img2.png" alt="" class="full-image"/>
          <h4 class="text-center color_88">Article Title</h4>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="noComments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">0</span>
            </div>
          </div>
        </div>

      </div>

      <div class="padding-vertical">
        <div ng-click="mediaPage()">
          <img src="../img/img3.png" alt="" class="full-image"/>
          <h4 class="text-center color_88">Article Title</h4>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="comments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
        </div>

      </div>

      <div class="padding-vertical">
        <div ng-click="mediaPage()">
          <img src="../img/img1.png" alt="" class="full-image"/>
          <h4 class="text-center color_88">Article Title</h4>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="noComments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">0</span>
            </div>
          </div>
        </div>

      </div>

    </div>

  </ion-content>

</ion-view>