<ion-modal-view class="login_modal">
  <!--<ion-header-bar>

  </ion-header-bar>-->

  <ion-content>


    <div class="padding-horizontal color_ff">

      <div class="row" style="padding-top: 15px;">
        <div class="col-90">
          <h4 class="title text-center color_ff font_bold">Login</h4>
        </div>
        <div class="col-10">
          <div class="buttons">
            <button class="button button-clear" ng-click="closeLogin()">
              <i class="ion-close" style="font-size: 24px;"></i>
            </button>
          </div>
        </div>
      </div>

      <p class="hr_line_ff"></p>

      <div class="" style="margin-top: 20px;">
        <button class="button button-outline button-block font_bold color_ff">Login with Weibo</button>
        <button class="button button-outline button-block font_bold color_ff">Login with Wechat</button>
      </div>

      <p class="hr_line_ff" style="margin-top: 80px;"></p>

      <div>
        <div class="list">
          <label class="item item-input margin_vertical">
            <input type="text" placeholder="Please enter your mobile number">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Please enter your password">
          </label>
        </div>
        <button class="button button-outline button-block font_bold color_ff">LOGIN</button>
      </div>

      <p class="hr_line_ff" style="margin-top: 20px;"></p>

      <div class="row text-center">
        <div class="col-50 padding-vertical">Forgot Password</div>
        <div class="col-50 padding-vertical" style="border-left: 1px solid #aaa;">Sign Up</div>
      </div>

    </div>

  </ion-content>
</ion-modal-view>
