<ion-modal-view class="login_modal">

  <ion-header-bar style="display: none;"></ion-header-bar>

  <ion-content class="login_modal_content" style="top:0px;">

    <ion-slide-box delegate-handle="modalSlider" show-pager="false">

      <ion-slide class="padding login_slide">
        <div class="padding_horizontal_5px color_ff">

          <div class="color_ff">
            <div class="" style="padding-top: 15px;">
              <div ng-click="closeLogin()" style="height: 25px;">
                <img src="../css/icons/close.svg" alt="" height="25px" class="pull_right"/>
              </div>
              <h4 class="title text-center color_ff font_bold helvetica_neue_thin font_20px">Login</h4>
            </div>
          </div>

          <p class="hr_line_ff"></p>

          <div class="" style="margin-top: 20px;">
            <button class="button button-outline button-block font_bold color_ff helvetica_neue_thin">
              <img src="../css/icons/weibo.svg" alt="" class="login_images"/><span>Login with Weibo</span>
            </button>
            <button class="button button-outline button-block font_bold color_ff helvetica_neue_thin">
              <div> <img src="../css/icons/wechat.svg" alt="" class="login_images"/><span>Login with Wechat</span> </div>
            </button>
          </div>

          <p class="hr_line_ff" style="margin-top: 50px;"></p>

          <div>
            <div class="list">
              <label class="item item-input margin_vertical">
                <input type="text" placeholder="Please enter your mobile number">
              </label>
              <label class="item item-input">
                <input type="password" placeholder="Please enter your password">
              </label>
            </div>
            <button class="button button-outline button-block font_bold color_ff helvetica_neue_thin">LOGIN</button>
          </div>

          <p class="hr_line_ff" style="margin-top: 20px;"></p>

          <div class="row text-center">
            <div class="col-50 padding-vertical helvetica_neue_thin font_16px" ng-click="openForgotPasswordSlide()">
              Forgot Password
            </div>
            <div class="col-50 padding-vertical helvetica_neue_thin font_16px" style="border-left: 1px solid #aaa;"
                 ng-click="openRegisterSlide()">Sign Up
            </div>
          </div>

        </div>
      </ion-slide>


      <ion-slide class="padding forgot_password_slide">
        <div class="padding_horizontal_5px">
          <div class="row">
            <div class="col-10">
              <div class="back_btn" style="padding-top: 5px;">
                <div ng-click="openLoginSlide()" style="padding-top: 5px;">
                  <i class="icon ion-ios-arrow-left forgot_password_back_icon"></i>
                </div>
              </div>
            </div>
            <div class="col-90 padding-top">
              <h4 class="title text-center color_ff font_bold helvetica_neue_thin font_20px helvetica_neue_thin">Forgot
                Password</h4>
            </div>
          </div>

          <div class="color_ff">

            <p class="hr_line_ff"></p>

            <div class="helvetica_neue_thin font_16px" style="margin-top: 20px;">
              <p>Please enter the mobile number you used for sign up, we'll send you a new password by text message.</p>
            </div>

            <p class="" style="margin-top: 20px;"></p>

            <div>
              <div class="list">
                <label class="item item-input margin_vertical">
                  <input type="password" placeholder="Please enter your mobile number">
                </label>
              </div>
              <button class="button button-outline button-block font_bold color_f helvetica_neue_thin">SEND NEW
                PASSWORD
              </button>
            </div>
          </div>
        </div>
      </ion-slide>

      <ion-slide class="padding signup_slide">

        <div class="padding_horizontal_5px">
          <div class="row">
            <div class="col-10">
              <div class="back_btn" style="padding-top: 5px;">
                <div ng-click="openLoginSlide()" style="padding-top: 5px;">
                  <i class="icon ion-ios-arrow-left forgot_password_back_icon"></i>
                </div>
              </div>
            </div>
            <div class="col-90 padding-top">
              <h4 class="title text-center color_ff font_bold helvetica_neue_thin">Mobile Number Sign Up</h4>
            </div>
          </div>

          <div class="color_ff">

            <p class="hr_line_ff"></p>

            <div class="" style="margin-top: 20px;">
              <div>
                <div class="list">
                  <div class="row no_padding_lr">
                    <div class="col-66" style="padding-right: 5px;">
                      <label class="item item-input">
                        <input type="number" placeholder="Please enter your Mobile Number">
                      </label>
                    </div>
                    <div class="col-34">
                      <button class="button button-outline security_code_btn color_ff helvetica_neue_thin">Send Security Code
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <p class="" style="margin-top: 80px;"></p>

            <div>
              <div class="list">
                <label class="item item-input margin_vertical">
                  <input type="password" placeholder="Please enter your password">
                </label>
                <label class="item item-input">
                  <input type="password" placeholder="Please enter your password again">
                </label>
              </div>
              <button class="button button-outline button-block font_bold color_ff helvetica_neue_thin">SIGN UP</button>
            </div>

          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-modal-view>