<ion-view view-title="Media Page">

  <ion-nav-bar style="display: none;"></ion-nav-bar>

  <ion-content class="media_page" style="top: 0px;">

    <div class="fixed_icons">
      <div class="back_btn pull_left">
        <div ng-click="$ionicGoBack()" class="header-item">
          <i class="icon ion-ios-arrow-left color_ff"></i>
          <!--<span class="back-text"><span class="default-title">Back</span><span class="previous-title hide"></span></span>-->
        </div>
      </div>

      <div class="row color_aa four_icons pull_right">
        <div class="col-25">
          <div ng-click="">
            <span><img src="../css/icons/4buttons-white/like-white.svg" alt="" class="four_icons_dimensions"/></span>
            <span class="four_icons_count">123</span>
          </div>
        </div>
        <div class="col-25">
          <div ng-click="openShareModal()">
            <span><img src="../css/icons/4buttons-white/share-white.svg" alt="" class="four_icons_dimensions"/></span>
            <span class="four_icons_count">123</span>
          </div>
        </div>
        <div class="col-25">
          <div ng-click="">
            <span><img src="../css/icons/4buttons-white/favor-white.svg" alt="" class="four_icons_dimensions"/></span>
            <span class="four_icons_count">123</span>
          </div>
        </div>
        <div class="col-25">
          <div ng-click="comments()">
            <span><img src="../css/icons/4buttons-white/comment-white.svg" alt="" class="four_icons_dimensions"/></span>
            <span class="four_icons_count">123</span>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div>
              <img src="../img/media_1.png" alt="" class="full-image"/>

              <div class="slider_description padding_horizontal_20px">
                <h4 class="helvetica_neue_thin font_bold letter_space_1px">Title</h4>

                <p class="helvetica_neue_thin font_14px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img src="../img/media_2.png" alt="" class="full-image"/>

              <div class="slider_description padding-horizontal">
                <h4 class="helvetica_neue_thin font_bold letter_space_1px">Title</h4>

                <p class="helvetica_neue_thin font_14px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img src="../img/media_1.png" alt="" class="full-image"/>

              <div class="slider_description padding-horizontal">
                <h4 class="helvetica_neue_thin font_bold letter_space_1px">Title</h4>

                <p class="helvetica_neue_thin font_14px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img src="../img/media_2.png" alt="" class="full-image"/>

              <div class="slider_description padding-horizontal">
                <h4 class="helvetica_neue_thin font_bold letter_space_1px">Title</h4>

                <p class="helvetica_neue_thin font_14px">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>

    </div>
  </ion-content>

</ion-view>