<ion-view view-title="Media List">

  <div class="bar bar-subheader" style="border-bottom: 1px solid #aaa;">
    <div class="row text-center" ng-init="tab=1">
      <div class="col-33" ng-click="tab=1">Media</div>
      <div class="col-34" ng-click="tab=2">Style</div>
      <div class="col-33" ng-click="tab=3">About</div>
    </div>
  </div>

  <ion-content class="media_list_page">
    <div style="margin-top: 50px">
      <div ng-show="tab==1">
        <div>
          <h4 class="text-center">Welcome to deerdear</h4>

          <div class="text-center"><img src="../img/boxes.png" alt=""/></div>
          <p class="text-center">Description</p>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/img1.png" alt="" class="full-image"/>
            <h4 class="text-center">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/img4.png" alt="" class="full-image"/>
            <h4 class="text-center">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/img3.png" alt="" class="full-image"/>
            <h4 class="text-center">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/img1.png" alt="" class="full-image"/>
            <h4 class="text-center">Article Title</h4>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="tab==2">
        <div>
          <h4 class="text-center">Welcome to deerdear</h4>

          <div class="text-center"><img src="../img/boxes.png" alt=""/></div>
          <p class="text-center">Description</p>
        </div>

        <div class="padding-vertical">
          <div ng-click="stylePage()">
            <img src="../img/item6.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/img2.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/item7.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>

        <div class="padding-vertical">
          <div>
            <img src="../img/item6.png" alt="" class="full-image"/>

            <p class="text-center">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa">
            <div class="col-20 col-offset-10">
              <button class="button button-small button-clear thumbsup_icon">
                <i class="icon ion-thumbsup"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-share-alt"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear heart_icon">
                <i class="icon ion-ios-heart"></i> <span>123</span>
              </button>
            </div>
            <div class="col-20">
              <button class="button button-small button-clear">
                <i class="icon ion-android-textsms"></i> <span>123</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>

</ion-view>