<ion-view view-title="Media Page">

  <ion-content class="media_page">

    <div>
      <div class="swiper-container">
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div>
              <img src="../img/media_1.png" alt="" class="full-image"/>

              <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
              </div>
              <div class="slider_description">
                <h4>Title</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img src="../img/media_2.png" alt="" class="full-image"/>

              <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
              </div>
              <div class="slider_description">
                <h4>Title</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img src="../img/media_1.png" alt="" class="full-image"/>

              <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
              </div>
              <div class="slider_description">
                <h4>Title</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div>
              <img src="../img/media_2.png" alt="" class="full-image"/>

              <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
              </div>
              <div class="slider_description">
                <h4>Title</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                  suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                  provident quia, quidem veniam, voluptate voluptatem?</p>
              </div>
            </div>
          </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>


      <!--<ion-slide-box on-slide-changed="slideHasChanged($index)">

        <ion-slide>
          <div>
            <img src="../img/media_1.png" alt="" class="full-image"/>

            <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
            </div>
            <div class="slider_description">
              <h4>Title</h4>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                provident quia, quidem veniam, voluptate voluptatem?</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src="../img/media_2.png" alt="" class="full-image"/>

            <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
            </div>
            <div class="slider_description">
              <h4>Title</h4>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                provident quia, quidem veniam, voluptate voluptatem?</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src="../img/media_1.png" alt="" class="full-image"/>

            <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
            </div>
            <div class="slider_description">
              <h4>Title</h4>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                provident quia, quidem veniam, voluptate voluptatem?</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <img src="../img/media_2.png" alt="" class="full-image"/>

            <div class="slider_icons">
              <span class="col-20 col-offset-20">
                <button class="button button-small button-clear thumbsup_icon color_ff">
                  <i class="icon ion-thumbsup"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-share-alt"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear heart_icon color_ff">
                  <i class="icon ion-ios-heart"></i> <span>123</span>
                </button>
              </span>
              <span class="col-20">
                <button class="button button-small button-clear color_ff">
                  <i class="icon ion-android-textsms"></i> <span>123</span>
                </button>
              </span>
            </div>
            <div class="slider_description">
              <h4>Title</h4>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis
                suscipit vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis
                provident quia, quidem veniam, voluptate voluptatem?</p>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div>
      <div style="position: relative">
        <img src="../img/media_2.png" alt="" class="full-image"/>

        <div class="slider_icons">
        <span class="col-20 col-offset-20">
          <button class="button button-small button-clear thumbsup_icon color_ff">
            <i class="icon ion-thumbsup"></i> <span>123</span>
          </button>
        </span>
        <span class="col-20">
          <button class="button button-small button-clear color_ff">
            <i class="icon ion-android-share-alt"></i> <span>123</span>
          </button>
        </span>
        <span class="col-20">
          <button class="button button-small button-clear heart_icon color_ff">
            <i class="icon ion-ios-heart"></i> <span>123</span>
          </button>
        </span>
        <span class="col-20">
          <button class="button button-small button-clear color_ff">
            <i class="icon ion-android-textsms"></i> <span>123</span>
          </button>
        </span>
        </div>
        <div class="slider_description">
          <h4>Title</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis suscipit
            vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis provident quia,
            quidem veniam, voluptate voluptatem?</p>
        </div>
      </div>
    </div>

    <div style="position: relative">
      <img src="../img/media_1.png" alt="" class="full-image"/>

      <div class="slider_icons">
        <span class="col-20 col-offset-20">
          <button class="button button-small button-clear thumbsup_icon color_ff">
            <i class="icon ion-thumbsup"></i> <span>123</span>
          </button>
        </span>
        <span class="col-20">
          <button class="button button-small button-clear color_ff">
            <i class="icon ion-android-share-alt"></i> <span>123</span>
          </button>
        </span>
        <span class="col-20">
          <button class="button button-small button-clear heart_icon color_ff">
            <i class="icon ion-ios-heart"></i> <span>123</span>
          </button>
        </span>
        <span class="col-20">
          <button class="button button-small button-clear color_ff">
            <i class="icon ion-android-textsms"></i> <span>123</span>
          </button>
        </span>
      </div>
      <div class="slider_description">
        <h4>Title</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis earum perspiciatis reiciendis suscipit
          vel? Beatae cum deserunt dignissimos ducimus eveniet illum inventore, obcaecati perferendis provident quia,
          quidem veniam, voluptate voluptatem?</p>
      </div>
-->
    </div>
  </ion-content>

</ion-view>