<ion-view view-title="">

  <ion-nav-bar style="display: none;"></ion-nav-bar>

  <div class="bar-light media_list_header">
    <button class="button button-icon button-clear menu_show" menu-toggle="left">
      <img src="../css/icons/side-menu.svg" alt="" class="menu_icon"/>
    </button>
    <div class="text-center">
      <img src="../css/icons/logo-deer.svg" alt="Logo" class="padding" style="width: 65px; height: 65px;"/>
    </div>
  </div>

  <div class="tabs-striped tabs-top tabs-background-light tabs-color-light">
    <div class="tabs media_list_tabs" style="margin-top: 10px;">
      <div style="position: relative; padding: 0 20px;">
        <div class="tab-item" ng-class="{'active_tab':(mediaListTab == 1)}" ng-click="showTab(1)">
          Media
        </div>
      </div>
      <div style="position: relative; padding: 0 20px;">
        <div class="tab-item" ng-class="{'active_tab':(mediaListTab == 2)}" ng-click="showTab(2)">
          Style
        </div>
      </div>
      <div style="position: relative; padding: 0 20px;">
        <div class="tab-item" ng-class="{'active_tab':(mediaListTab == 3)}" ng-click="showTab(3)">
          About
        </div>
      </div>
    </div>
  </div>

  <ion-content class="media_list_page" style="margin-top: 58px">
    <div>
      <div ng-if="mediaListTab==1">
        <div>
          <h4 class="text-center padding-vertical helvetica_neue_ultra_light font_28px">Welcome to deerdear</h4>

          <div class="text-center">
            <img src="css/icons/divider.svg" alt=""/>
          </div>
          <p class="text-center font_20px padding-vertical color_55">This is some description</p>
        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="img/img1.png" alt="" class="full-image"/>
            <h5 class="text-center color_88">Article Title</h5>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="comments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
          </div>

        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="img/img4.png" alt="" class="full-image"/>
            <h5 class="text-center color_88">Article Title</h5>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">0</span>
              </div>
            </div>
          </div>

        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="img/img3.png" alt="" class="full-image"/>
            <h5 class="text-center color_88">Article Title</h5>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="comments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
          </div>

        </div>

        <div class="padding-vertical">
          <div ng-click="mediaPage()">
            <img src="img/img1.png" alt="" class="full-image"/>
            <h5 class="text-center color_88">Article Title</h5>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">0</span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div ng-if="mediaListTab==2">
        <div>
          <h4 class="text-center padding-vertical helvetica_neue_ultra_light font_28px">Welcome to deerdear</h4>

          <div class="text-center">
            <img src="css/icons/divider.svg" alt=""/>
          </div>
          <p class="text-center">Description</p>
        </div>

        <div class="padding-vertical">
          <div ng-click="stylePage()">
            <img src="img/item6.png" alt="" class="full-image"/>

            <p class="text-center color_88">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="comments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
          </div>

        </div>

        <div class="padding-vertical">
          <div>
            <img src="img/img2.png" alt="" class="full-image"/>

            <p class="text-center color_88">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">0</span>
              </div>
            </div>
          </div>

        </div>

        <div class="padding-vertical">
          <div>
            <img src="img/item7.png" alt="" class="full-image"/>

            <p class="text-center color_88">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="comments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
          </div>

        </div>

        <div class="padding-vertical">
          <div>
            <img src="img/item6.png" alt="" class="full-image"/>

            <p class="text-center color_88">1/1/2015 &nbsp; 12:12</p>

            <p class="text-center">Article description</p>
          </div>

          <div class="row color_aa four_icons">
            <div class="col-20 col-offset-10">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="">
                <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">123</span>
              </div>
            </div>
            <div class="col-20">
              <div ng-click="noComments()">
                <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
                <span class="four_icons_count">0</span>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div ng-if="mediaListTab==3">
        <div class="padding-vertical">
          <div class="padding_horizontal_20px">
            <h3 class="text-center padding-vertical helvetica_neue_ultra_light font_30px">THE FASION WORLD ONLINE</h3>

            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eveniet pariatur quo sed.
              Aliquam
              distinctio esse illo odio similique tempora vel voluptate? Aliquam amet blanditiis impedit natus, nesciunt
              odio sit.</p>

            <div class="text-center padding-vertical">
              <img src="css/icons/divider.svg" alt=""/>
            </div>

            <h5 class="text-center helvetica_neue_ultra_light font_20px">FASHION ON deerdear</h5>

            <h4 class="text-center font_bold helvetica_neue_ultra_light font_24px letter_space_2px">MAIN TITLE</h4>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi beatae est et eum exercitationem
              facilis
              ipsam iste libero minus nobis non provident quasi quod repellendus rerum, sequi similique temporibus!</p>

          </div>

          <div class="padding-vertical">
            <img src="img/about_img1.png" alt="" class="full-image"/>

            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

          <div class="padding-vertical text-center">
            <img src="img/about_img2.png" alt="" class="width_80p"/>

            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

          <div class="padding-vertical">
            <img src="img/about_img3.png" alt="" class="full-image"/>

            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

          <div class="padding-vertical text-center">
            <img src="img/about_img4.png" alt="" class="width_80p"/>

            <div class="text-center padding-horizontal">This is a sample description</div>
          </div>

        </div>

        <div class="padding-horizontal">
          <div class="text-center">
            <img src="css/icons/divider.svg" alt=""/>
          </div>

          <h5 class="text-center helvetica_neue_ultra_light font_20px">FASHION ON deerdear</h5>

          <h4 class="text-center font_bold helvetica_neue_ultra_light font_24px letter_space_2px">MAIN TITLE</h4>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi beatae est et eum exercitationem
            facilis
            ipsam iste libero minus nobis non provident quasi quod repellendus rerum, sequi similique temporibus!</p>

        </div>

        <div class="padding-vertical">
          <img src="img/about_img1.png" alt="" class="full-image"/>

          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>

        <div class="padding-vertical text-center">
          <img src="img/about_img2.png" alt="" class="width_80p"/>

          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>

        <div class="padding-vertical">
          <img src="img/about_img3.png" alt="" class="full-image"/>

          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>

        <div class="padding-vertical text-center">
          <img src="img/about_img4.png" alt="" class="width_80p"/>

          <div class="text-center padding-horizontal">This is a sample description</div>
        </div>

      </div>

    </div>
  </ion-content>

</ion-view>