<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="side_menu">
    <ion-header-bar class="bar-stable menu_header">
      <div class="row">
        <div class="col-25" style="padding-top: 20px;padding-left: 20px;">
          <div class="" menu-toggle="left">
            <img src="../css/icons/back-arrow.svg" alt="" width="20px" height="30px"/>
          </div>
        </div>
        <div class="col-offset-50 col-25">
          <img src="../css/icons/logo-white.svg" alt="" width="80px" height="100px"/>
        </div>
      </div>
    </ion-header-bar>
    <ion-content class="menu_content">
      <ion-list class="menu_list">
        <ion-item menu-close class="helvetica_neue_thin font_18px">
          <div class="row" ng-click="showTab(1)">
            <div class="col-33">Media</div>
            <div class="col-33 color_ff font_bold">Media</div>
            <div class="col-33"><i class="icon ion-ios-arrow-right"></i></div>
          </div>
        </ion-item>
        <ion-item menu-close class="helvetica_neue_thin font_18px">
          <div class="row" ng-click="showTab(2)">
            <div class="col-33">Style</div>
            <div class="col-33 color_ff font_bold">Style</div>
            <div class="col-33"><i class="icon ion-ios-arrow-right"></i></div>
          </div>
        </ion-item>
        <ion-item menu-close class="helvetica_neue_thin font_18px">
          <div class="row" ng-click="showTab(3)">
            <div class="col-33">About</div>
            <div class="col-33 color_ff font_bold">About</div>
            <div class="col-33"><i class="icon ion-ios-arrow-right"></i></div>
          </div>
        </ion-item>

        <div style="padding-top: 20px;"></div>

        <ion-item menu-close class="font_16px helvetica_neue_ultra_light letter_space_1px font_bold">
          <div class="row" ng-click="listUnderTag()">
            <div class="col-33">Olivia</div>
            <div class="col-33 color_ff">Olivia</div>
          </div>
        </ion-item>
        <ion-item menu-close class="font_16px helvetica_neue_ultra_light letter_space_1px font_bold">
          <div class="row" ng-click="listUnderTag()">
            <div class="col-33">Stylish</div>
            <div class="col-33 color_ff">Stylish</div>
          </div>
        </ion-item>
        <ion-item menu-close class="font_16px helvetica_neue_ultra_light letter_space_1px font_bold">
          <div class="row" ng-click="listUnderTag()">
            <div class="col-33">IT Girl</div>
            <div class="col-33 color_ff">IT Girl</div>
          </div>
        </ion-item>

        <div style="padding-top: 20px;"></div>

        <p class="hr_line_ff_95p"></p>
        <p class="hr_line_ff_95p"></p>
        
        <ion-item menu-close class="helvetica_neue_thin font_18px">
          <div class="row" ng-click="login()">
            <div class="col-25">Login</div>
            <div class="col-25 color_ff font_bold menu_items_border">Login</div>
          </div>
        </ion-item>
        <ion-item menu-close class="helvetica_neue_thin font_18px">
          <div class="row" ng-click="profile()">
            <div class="col-25">Profile</div>
            <div class="col-25 color_ff font_bold menu_items_border">Profile</div>
          </div>
        </ion-item>
        <ion-item menu-close class="helvetica_neue_thin font_18px">
          <div class="row" ng-click="myFavor()">
            <div class="col-25">Favor</div>
            <div class="col-25 color_ff font_bold menu_items_border">Favor</div>
          </div>
        </ion-item>

        <p class="hr_line_ff_95p" style="border-top-width: 2px;"></p>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
