<ion-modal-view class="my_favour_modal">
  <!--<ion-header-bar>

  </ion-header-bar>-->

  <ion-content>


    <div class="padding-horizontal color_ff">
      <div class="" style="padding-top: 15px;">
        <div ng-click="closeMyFavor()" style="height: 25px;">
          <img src="../css/icons/close.svg" alt="" height="25px" class="pull_right"/>
        </div>
        <h4 class="title text-center color_ff font_bold helvetica_neue_thin font_20px">My Favor</h4>
      </div>
    </div>

    <p class="hr_line_ff_95p"></p>

    <div>
      <div class="my_favour_items">
        <ul class="list helvetica_neue_thin">
          <li class="item favor_item">
            <div class="row">
              <div class="col-25">
                <img src="../img/img7.png" alt="" class="full-image"/>
              </div>
              <div class="col-75 padding-left">
                <p class="color_ff font_14px">Sub Heading</p>
                <h4 class="color_ff font_16px font_bold helvetica_neue_thin">Table Item Text</h4>

                <p class="color_ff font_14px">Table Item Subtitle Text </p>
              </div>
            </div>
          </li>
          <li class="item favor_item">
            <div class="row">
              <div class="col-25">
                <img src="../img/img7.png" alt="" class="full-image"/>
              </div>
              <div class="col-75 padding-left">
                <h4 class="color_ff font_14px font_bold">Table Item Text</h4>

                <p class="color_ff font_12px">table Item Subtitle Text </p>
              </div>
            </div>
          </li>
          <li class="item favor_item">
            <div class="row">
              <div class="col-25">
                <img src="../img/img7.png" alt="" class="full-image"/>
              </div>
              <div class="col-75 padding-left">
                <h4 class="color_ff font_14px font_bold">Table Item Text</h4>

                <p class="color_ff font_12px">table Item Subtitle Text </p>
              </div>
            </div>
          </li>
          <li class="item favor_item">
            <div class="row">
              <div class="col-25">
                <img src="../img/img7.png" alt="" class="full-image"/>
              </div>
              <div class="col-75 padding-left">
                <h4 class="color_ff font_14px font_bold">Table Item Text</h4>

                <p class="color_ff font_12px">table Item Subtitle Text </p>
              </div>
            </div>
          </li>
          <li class="item favor_item">
            <div class="row">
              <div class="col-25">
                <img src="../img/img7.png" alt="" class="full-image"/>
              </div>
              <div class="col-75 padding-left">
                <h4 class="color_ff font_14px font_bold">Table Item Text</h4>

                <p class="color_ff font_12px">table Item Subtitle Text </p>
              </div>
            </div>
          </li>
          <li class="item favor_item">
            <div class="row">
              <div class="col-25">
                <img src="../img/img7.png" alt="" class="full-image"/>
              </div>
              <div class="col-75 padding-left">
                <h4 class="color_ff font_14px font_bold">Table Item Text</h4>

                <p class="color_ff font_12px">table Item Subtitle Text </p>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </ion-content>
</ion-modal-view>
