<ion-view view-title="No Comment">

  <ion-content>

    <div class="text-center padding-vertical" style="padding-top: 25%">
      <img src="../img/logo_big.png" alt="Logo" width="120px"/>
      <h4>Description</h4>
    </div>

  </ion-content>

  <div class="bar bar-footer">
    <div class="row">
      <div class="col-offset-80 col-20">
        <div class="padding-horizontal" style="font-size: 30px;" ng-click="comments()">
          <i class="icon ion-android-textsms"></i>
        </div>
      </div>
    </div>

  </div>

</ion-view>