<ion-modal-view class="login_modal">
  <!--<ion-header-bar>

  </ion-header-bar>-->

  <ion-content>


    <div class="padding-horizontal color_ff">

      <div class="row" style="padding-top: 15px;">
        <div class="col-90">
          <h4 class="title text-center color_ff font_bold" style="padding-left: 14%">Profile</h4>
        </div>
        <div class="col-10">
          <div class="buttons">
            <button class="button button-clear" ng-click="closeProfile()">
              <i class="ion-android-close" style="font-size: 30px;padding-right: 10px;"></i>
            </button>
          </div>
        </div>
      </div>

      <p class="hr_line_ff"></p>

      <div class="" style="margin-top: 20px;">
        <div class="text-center">
          <div class="profile_image">
            <i class="icon ion-ios-person-outline" style="font-size: 60px;"></i>
          </div>
        </div>
        <div class="text-center"><h4 class="color_ff helvetica_neue_thin font_bold font_20px">Felix He</h4></div>
        <div class="text-center"><p class="helvetica_neue_thin font_bold font_14px" style="margin-bottom: 25px;">Member
          since 2012</p></div>
      </div>
    </div>

    <div>
      <div>
        <ul class="list profile_list helvetica_neue_thin">
          <li class="item">
            <div class="row">
              <div class="col-20"><i class="icon ion-ios-person-outline"></i></div>
              <div class="col-80">Felix He</i></div>
            </div>
          </li>
          <li class="item">
            <div class="row">
              <div class="col-20"><i class="icon ion-ios-calendar-outline"></i></div>
              <div class="col-80">August 16, 1979</i></div>
            </div>
          </li>
          <li class="item">
            <div class="row">
              <div class="col-20"><i class="icon ion-happy-outline"></i></div>
              <div class="col-80">Male</i></div>
            </div>
          </li>
          <li class="item">
            <div class="row">
              <div class="col-20"><i class="icon ion-ios-telephone-outline"></i></div>
              <div class="col-80">+86 1234567890</i></div>
            </div>
          </li>
          <li class="item">
            <div class="row">
              <div class="col-20"><i class="icon ion-ios-locked-outline"></i></div>
              <div class="col-80">Logout</i></div>
            </div>
          </li>
        </ul>
      </div>


    </div>

  </ion-content>
</ion-modal-view>
