<ion-view view-title="Style">

  <ion-nav-bar style="display: none;"></ion-nav-bar>

  <div class="bar-light media_list_header">
    <div class="back_btn_show" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-left color_ff"></i>
    </div>
  </div>

  <ion-content class="style_page_content" style="top:0; overflow: scroll;">

    <div class="style_page">

      <div class="padding-vertical helvetica_neue_thin">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>

          <p class="text-center color_55">1/1/2015</p>

          <p class="text-center font_16px font_bold letter_space_1px">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="comments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
        </div>

      </div>

      <h4 class="text-center"><span class="half_line"></span><span>Style Detail</span><span class="half_line"></span>
      </h4>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <div class="cover_image" style="background-image: url('/img/item1.png')"></div>
            <!--<img src="../img/item1.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>-->

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item2.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item3.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item4.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item5.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item1.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <h4 class="text-center"><span class="half_line"></span><span>Related Style</span><span class="half_line"></span>
      </h4>

      <div class="padding-vertical helvetica_neue_thin">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>

          <p class="text-center color_55">1/1/2015</p>

          <p class="text-center font_16px font_bold letter_space_1px">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="comments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item1.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item2.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item3.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item4.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

            <div>
              <p class="padding-horizontal color_d94">RMB165</p>

              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_12px padding_top_5px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px like_icon" ng-click="">
                  <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item5.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

              <div>
                <p class="padding-horizontal color_d94">RMB165</p>

                <div class="row padding-horizontal font_12px">
                  <div class="col-67 font_12px padding_top_5px">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33 font_12px like_icon" ng-click="">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                    <span class="style_like">30</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item1.png" alt="" class="full-image height_180px" ng-click="goToOtherPage()"/>

              <div>
                <p class="padding-horizontal color_d94">RMB165</p>

                <div class="row padding-horizontal font_12px">
                  <div class="col-67 font_12px padding_top_5px">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33 font_12px like_icon" ng-click="">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                    <span class="style_like">30</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
