<ion-view view-title="Style">

  <ion-nav-bar style="display: none;"></ion-nav-bar>

  <div class="bar-light media_list_header">
    <div class="back_btn_show" ng-click="$ionicGoBack()">
      <i class="icon ion-ios-arrow-left color_ff"></i>
    </div>
  </div>

  <ion-content class="style_page_content" style="top:0;">

    <div class="style_page">

      <div class="padding-vertical helvetica_neue_thin">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>

          <p class="text-center color_55">1/1/2015</p>

          <p class="text-center font_16px font_bold letter_space_1px">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="comments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
        </div>

      </div>

      <div>
        <fieldset class="box-title">
          <legend align="center" class="font_16px font_bold helvetica_neue_thin letter_space_1px">Style Detail</legend>
        </fieldset>
      </div>

      <div class="small_images">
        <div class="row">
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item1.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item2.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item3.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item4.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item5.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item1.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <fieldset class="box-title">
        <legend align="center" class="font_16px font_bold helvetica_neue_thin letter_space_1px">Related Style</legend>
      </fieldset>

      <div class="padding-vertical helvetica_neue_thin">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>

          <p class="text-center color_55">1/1/2015</p>

          <p class="text-center font_16px font_bold letter_space_1px">Article description</p>
        </div>

        <div class="row color_aa four_icons">
          <div class="col-20 col-offset-10">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/like-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/share-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="">
              <span><img src="css/icons/4buttons-gey/favor-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
          <div class="col-20">
            <div ng-click="comments()">
              <span><img src="css/icons/4buttons-gey/comment-grey.svg" alt="" class="four_icons_dimensions"/></span>
              <span class="four_icons_count">123</span>
            </div>
          </div>
        </div>

      </div>

      <div class="small_images">
        <div class="row">
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item1.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item2.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item3.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item4.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item5.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-50">
            <div class="list card">
              <div class="item item-body padding_5px">
                <img class="full-image" src="../img/item1.png">

                <div class="item border_none no_padding">
                  <div class="row color_d94">RMB165</div>
                  <div class="row font_12px">
                  <span class="col-66 text_align_start small_description">
                    STYLEMOI.NU
                  </span>
                  <span class="col-34">
                    <img src="../css/icons/4buttons-gey/like-grey.svg" alt="" width="20px"/>
                  <span class="style_like">30</span>
                  </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
