<ion-view view-title="Style">
  <ion-content>

    <div class="style_page">

      <div class="padding-vertical">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>
          <p class="text-center color_aa">1/1/2015</p>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa">
          <div class="col-20 col-offset-10"><i class="icon ion-thumbsup"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-android-share-alt"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-ios-heart"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-android-textsms"></i> <span>123</span></div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item1.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item2.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item3.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item4.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item5.png" alt="" class="full-image height_65p"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33">
                    <i class="icon ion-thumbsup"></i> &nbsp; 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item1.png" alt="" class="full-image height_65p"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33">
                    <i class="icon ion-thumbsup"></i> &nbsp; 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="padding-vertical">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>
          <p class="text-center color_aa">1/1/2015</p>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa">
          <div class="col-20 col-offset-10"><i class="icon ion-thumbsup"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-android-share-alt"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-ios-heart"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-android-textsms"></i> <span>123</span></div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item1.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item2.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item3.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item4.png" alt="" class="full-image height_65p"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33">
                  <i class="icon ion-thumbsup"></i> &nbsp; 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item5.png" alt="" class="full-image height_65p"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33">
                    <i class="icon ion-thumbsup"></i> &nbsp; 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item1.png" alt="" class="full-image height_65p"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33">
                    <i class="icon ion-thumbsup"></i> &nbsp; 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
