<ion-view view-title="Style">
  <ion-content>

    <div class="style_page">

      <div class="padding-vertical">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>
          <p class="text-center color_aa">1/1/2015</p>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa">
          <span class="col-20 col-offset-20">
            <button class="button button-small button-clear thumbsup_icon">
              <i class="icon ion-thumbsup"></i> <span>123</span>
            </button>
          </span>
          <span class="col-20">
            <button class="button button-small button-clear" ng-click="share_slider = !share_slider">
              <i class="icon ion-android-share-alt"></i> <span>123</span>
            </button>
          </span>
          <span class="col-20">
            <button class="button button-small button-clear heart_icon">
              <i class="icon ion-ios-heart"></i> <span>123</span>
            </button>
          </span>
          <span class="col-20" ng-click="comments()">
            <button class="button button-small button-clear">
              <i class="icon ion-android-textsms"></i> <span>123</span>
            </button>
          </span>
        </div>
      </div>

      <h4 class="text-center">Style Detail</h4>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item1.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67 font_11px">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item2.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item3.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item4.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item5.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal font_12px">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33 font_12px padding-left like_icon" ng-click="">
                    <i class="icon ion-thumbsup"></i> 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item1.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal font_12px">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33 font_12px padding-left like_icon" ng-click="">
                    <i class="icon ion-thumbsup"></i> 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h4 class="text-center">Related Style</h4>

      <div class="padding-vertical">
        <div>
          <img src="../img/item6.png" alt="" class="full-image"/>
          <p class="text-center color_aa">1/1/2015</p>

          <p class="text-center">Article description</p>
        </div>

        <div class="row color_aa">
          <div class="col-20 col-offset-10"><i class="icon ion-thumbsup"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-android-share-alt"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-ios-heart"></i> <span>123</span></div>
          <div class="col-20"><i class="icon ion-android-textsms"></i> <span>123</span></div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item1.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item2.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <img src="../img/item3.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <img src="../img/item4.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
            <div>
              <p class="padding-horizontal">RMB165</p>
              <div class="row padding-horizontal font_12px">
                <div class="col-67">
                  STYLEMOI.NU
                </div>
                <div class="col-33 font_12px padding-left like_icon" ng-click="">
                  <i class="icon ion-thumbsup"></i> 30
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item5.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal font_12px">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33 font_12px padding-left like_icon" ng-click="">
                    <i class="icon ion-thumbsup"></i> 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-50">
          <div class="card">
            <div>
              <img src="../img/item1.png" alt="" class="full-image height_65p" ng-click="goToOtherPage()"/>
              <div>
                <p class="padding-horizontal">RMB165</p>
                <div class="row padding-horizontal font_12px">
                  <div class="col-67">
                    STYLEMOI.NU
                  </div>
                  <div class="col-33 font_12px padding-left like_icon" ng-click="">
                    <i class="icon ion-thumbsup"></i> 30
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ion-content>
</ion-view>
