/* Empty. Add your own CSS if you like */

/*Over riding CSS START*/

.media_list_header .bar {
  height: 55px;
}

.media_list_page .four_icons .icon {
  color: #AAAAAA;
}

.media_list_page .four_icons .activated .icon, .media_list_page .four_icons .activated {
  color: #444;
}

.media_list_tabs {
  padding: 0 20%;
}

.media_list_tabs .tab-item {
  color: #000000 !important;
}

.media_list_header .bar .title {
  height: 80px;
}

/*Over riding CSS END*/

.margin_vertical {
  margin: 10px 0;
}

.margin_horizontal {
  margin: 0 10px;
}

.hr_line_ff {
  display: block !important;
  border-top: 1px solid #AAAAAA;
}

.login_modal, .my_favour_modal {
  background-color: rgba(63, 63, 63, 0.95);
}

.register_modal, .forgot_password_modal {
  background-color: rgba(0, 0, 0, 0.60);
}

.color_ff {
  color: #ffffff !important;
}

.color_55 {
  color: #555 !important;
}

.color_88 {
  color: #888 !important;
}

.color_aa {
  color: #aaaaaa !important;
}

.font_bold {
  font-weight: bold;
}

.profile_list .item {
  background-color: inherit;
  padding: 5px;
  color: #ffffff;
}

.no_padding {
  padding: 0 !important;
}

.no_margin {
  margin: 0 !important;
}

.profile_list .icon {
  font-size: 30px;
}

.profile_list .col-80 {
  padding: 5px 0;
}

.my_favour_items .item {
  background-color: inherit;
}

.font_12px {
  font-size: 12px !important;
}

.font_14px {
  font-size: 14px !important;
}

.font_16px {
  font-size: 16px !important;
}

.font_20px {
  font-size: 20px !important;
}

.font_24px {
  font-size: 24px !important;
}

.font_28px {
  font-size: 28px !important;
}

.style_page .card {
  margin: 10px 5px !important;
  height: 250px;
}

.height_65p {
  height: 65%;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

.comments_page .item {
  padding: 5px;
}

.font_11px {
  font-size: 11px !important;
}

.font_12px {
  font-size: 12px !important;
}

.font_30px {
  font-size: 30px !important;
}

.active_tab_border_bottom {
  border-bottom: 2px solid #aaa;
}

.slider_description {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.51);
  width: 100%;
  height: auto;
}

/*.share_slider {
  position: fixed;
  z-index: 1001;
  top: 10%;
  background-color: rgba(22, 22, 20, 0.98);
}*/
/*.slider_icons {
  position: absolute;
  top: 5px;
  width: 100%;
}*/
.share_modal_view {
  background-color: rgba(0, 0, 0, 0.50);
}

.share_modal_content {

}

.share_modal_clickable_content {
  position: fixed;
  z-index: 1005;
  width: 100%;
  height: 300px;
}

.share_modal_main_content {
  position: fixed;
  z-index: 1003;
  top: 52vh;
  background-color: rgba(0, 0, 0, 0.90);
}

.media_page .fixed_icons {
  position: fixed;
  z-index: 100;
  padding-top: 19px;
  right: 18px;
}

.width_80p {
  width: 80%;
}

.swiper-pagination {
  top: 200px !important;
  position: fixed !important;
}

.swiper-pagination-bullet-active {
  background: #000000 !important;
}

.swiper-slide.swiper-slide-active {
  height: 100vh !important;
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 10px 0 !important;
  border: 1px solid #ffffff !important;
}

.menu_content {
  top: 120px !important;
  background-color: rgb(65, 65, 65) !important;
}

.menu_header {
  background-color: rgb(65, 65, 65) !important;
  height: 120px !important;
}

.menu_content ion-item {
  background-color: rgb(65, 65, 65) !important;
  color: #ffffff;
  border: none !important;
  padding: 5px 15px !important;
  color: #AAAAAA;
}

.back-text, span.default-title {
  display: none !important;
}

.style_page .like_icon.activated {
  color: #F14A00;
}

.media_page .back_btn {
  position: fixed;
  z-index: 100;
  background-color: #222222;
  border-radius: 50%;
  margin: 10px;
}

.width_100p {
  width: 100% !important;
}

.comment_box {
  padding-top: 90%;
}

.active_tab {
}

.active_tab:before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 35%;
  border-width: 9px 9px 0 10px;
  border-style: solid;
  border-color: #B3B3B3 transparent;
  display: block;
  width: 0;
}

.active_tab:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 35%;
  border-width: 9px 9px 0 10px;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
}

@font-face {
  font-family: 'HelveticaNeue-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Thin'), url('../css/fonts/HelveticaNeue-Thin.otf');
}

.helvetica_neue_thin {
  font-family: 'HelveticaNeue-Thin';
}

@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-UltraLight'), url('../css/fonts/HelveticaNeue-UltraLight.otf');
}

.helvetica_neue_ultra_light {
  font-family: 'HelveticaNeue-UltraLight';
}
