/* Empty. Add your own CSS if you like */

.margin_vertical {
  margin: 10px 0;
}

.margin_horizontal {
  margin: 0 10px;
}

.hr_line_ff {
  display: block !important;
  border-top: 1px solid #AAAAAA;
}

.login_modal,  .my_favour_modal {
  background-color: rgba(63, 63, 63, 0.95);
}
.register_modal, .forgot_password_modal {
  background-color: rgba(0, 0, 0, 0.60);
}
.color_ff {
  color: #ffffff !important;
}

.color_aa{
  color: #aaaaaa !important;
}
.font_bold {
  font-weight: bold;
}
.profile_list .item {
  background-color: inherit;
  padding: 5px;
  color: #ffffff;
}
.no_padding {
  padding:  0 !important;
}
.no_margin {
  margin:  0 !important;
}
.profile_list .icon {
  font-size: 30px;
}
.profile_list .col-80 {
  padding: 5px 0;
}
.my_favour_items .item {
  background-color: inherit;
}
.font_16px {
  font-size: 16px !important;
}

.font_14px {
  font-size: 14px !important;
}

.font_12px {
  font-size: 12px !important;
}

.style_page .card {
  margin: 10px 5px !important;
  height: 250px;
}
.height_65p {
  height: 65%;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}
.comments_page .item {
  padding: 5px;
}
.font_11px {
  font-size: 11px !important;
}
.font_12px {
  font-size: 12px !important;
}
.border_bottom {
  border-bottom: 2px solid #aaa;
}

.slider_description {
  position: absolute;
  bottom: 10px;
  background-color: rgba(255, 255, 255, 0.51);
  width: 100%;
  height: auto;
}
.share_slider {
  position: absolute;
  bottom: 10px;
  background-color: rgba(22, 22, 20, 0.98);
  width: 100%;
  height: auto;
}
/*.slider_icons {
  position: absolute;
  top: 5px;
  width: 100%;
}*/
.media_page .fixed_icons {
  position: fixed;
  z-index: 100;
  padding-top: 19px;
  right: 18px;
}
.width_80p {
  width: 80%;
}

.swiper-pagination{
  top: 200px !important;
  position: fixed !important;
}
.swiper-pagination-bullet-active{
  background: #000000 !important;
}
.swiper-slide.swiper-slide-active{
  height: 95vh !important;
}

.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet {
  margin: 10px 0 !important;
  border: 1px solid #ffffff !important;
}
.menu_content {
  top:120px !important;
  background-color: rgb(65, 65, 65) !important;
}
.menu_header {
  background-color: rgb(65, 65, 65) !important;
  height: 120px !important;
}
.menu_content ion-item {
  background-color: rgb(65, 65, 65) !important;
  color: #ffffff;
  border: none !important;
  padding: 5px 15px !important;
  color: #AAAAAA;
}

.back-text, span.default-title {
  display: none !important;
}
.style_page .like_icon.activated {
  color: #F14A00;
}
.media_page .back_btn {
  position: fixed;
  z-index: 100;
  background-color: #222222;
  border-radius: 50%;
  margin: 10px;
}