/* Empty. Add your own CSS if you like */

/*Over riding CSS START*/

.media_list_header .bar {
  height: 55px;
}

.letter_space_1px {
  letter-spacing: 1px;
}

.letter_space_2px {
  letter-spacing: 2px;
}

.menu_items_border {
  border-left: 1px solid #aaa;
  padding-left: 12px;
  margin-left: 5px;
}

.menu_icon {
  width: 40px;
  padding-top: 10px;
  padding-left: 10px;
}

.media_page .four_icons {
  width: 240px;
  padding-top: 20px;
}
.media_list_page .four_icons .col-20 {
  padding-left: 3%;
}

.media_list_page .four_icons .icon {
  color: #AAAAAA;
}

.media_list_page .four_icons .activated .icon, .media_list_page .four_icons .activated {
  color: #444;
}

.fixed_icons .four_icons .col-20 {
  padding-left: 5%;
}

.fixed_icons .four_icons {
  color: #ffffff;
}

.fixed_icons .four_icons .four_icons_count {
  color: #ffffff;
}

.media_list_tabs {
  padding: 0 20%;
}

.media_list_tabs .tab-item {
  color: #000000 !important;
}

.media_list_header .bar .title {
  height: 80px;
}

/*Over riding CSS END*/

.margin_vertical {
  margin: 10px 0;
}

.margin_horizontal {
  margin: 0 10px;
}

.hr_line_ff_95p {
  display: block !important;
  border-top: 1px solid #AAAAAA;
  width: 95%;
  margin: auto;
}

.hr_line_ff {
  display: block !important;
  border-top: 1px solid #AAAAAA;
  width: 100%;
  margin: auto;
}

.login_modal, .my_favour_modal {
  background-color: rgba(63, 63, 63, 0.95);
}

.forgot_password_back_icon, .signup_back_icon {
  font-size: 35px;
  padding-left: 10px;
  color: #fff;
}

.login_modal input {
  font-family: 'HelveticaNeue-Thin';
  font-size: 16px;
}

.register_modal, .forgot_password_modal {
  background-color: rgba(0, 0, 0, 0.60);
}

.color_ff {
  color: #ffffff !important;
}

.color_55 {
  color: #555 !important;
}

.color_88 {
  color: #888 !important;
}

.color_aa {
  color: #aaaaaa !important;
}

.color_dd {
  color: #dddddd !important;
}

.color_d94 {
  color: #dd9944 !important;
}

.font_bold {
  font-weight: bold;
}

.profile_icons {
  width: 30px;
  height: 30px;
}

.profile_list .item .row .col-20 {
  text-align: center;
}

.profile_page .item {
  border-color: #AAAAAA;
}

.profile_list .item {
  background-color: inherit;
  padding: 5px;
  color: #ffffff;
}

.no_border_lr {
  border-left: 0;
  border-right: 0;
}

.no_padding {
  padding: 0 !important;
}

.no_margin {
  margin: 0 !important;
}

.profile_list .icon {
  font-size: 30px;
}

.profile_list .col-80 {
  padding: 5px 0;
}

.my_favour_items .item {
  background-color: inherit;
}

.font_12px {
  font-size: 12px !important;
}

.font_14px {
  font-size: 14px !important;
}

.font_16px {
  font-size: 16px !important;
}

.font_20px {
  font-size: 20px !important;
}

.font_24px {
  font-size: 24px !important;
}

.font_28px {
  font-size: 28px !important;
}

.style_page .card {
  margin: 10px 5px !important;
  height: 255px;
  text-align: center;
}
.style_page .card > img {
  width: 200px;
}
.style_like {
  position: absolute;
  padding: 3px;
}

.height_180px {
  height: 180px;
}

.padding_top_5px {
  padding-top: 5px !important;
}

.pull_right {
  float: right;
}

.pull_left {
  float: left;
}

.half_line {
  border-bottom: 1px solid #aaa;
  display: inline-block;
  width: 32%;
  margin: 0 1%;
  position: relative;
  top: -5px;
}

.comments_page .item {
  padding: 5px;
}

.font_11px {
  font-size: 11px !important;
}

.font_12px {
  font-size: 12px !important;
}

.font_30px {
  font-size: 30px !important;
}

.active_tab_border_bottom {
  border-bottom: 2px solid #aaa;
}

.slider_description {
  position: absolute;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: auto;
}

.share_modal_view {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.share_modal_content .share_icons {
  width: 80px;
  height: 80px;
}

.share_modal_clickable_content {
  position: fixed;
  z-index: 1005;
  width: 100%;
  height: 50vh;
}

.share_modal_main_content {
  position: fixed;
  z-index: 1003;
  top: 50vh;
  background-color: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 50vh;
}

.media_page .fixed_icons {
  position: fixed;
  z-index: 100;
  padding-top: 18px;
  width: 100%;
}

.width_80p {
  width: 80%;
}

.menu_content {
  top: 120px !important;
  background-color: rgb(65, 65, 65) !important;
}

.menu_header {
  background-color: rgb(65, 65, 65) !important;
  height: 120px !important;
}

.menu_content ion-item {
  background-color: rgb(65, 65, 65) !important;
  border: none !important;
  padding: 5px 15px !important;
  color: #dddddd;
}

.back-text, span.default-title {
  display: none !important;
}

.style_page .like_icon.activated {
  color: #F14A00;
}

.media_page .back_btn {
  background-color: #000;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 5px 0px 0px 15px;
  margin: 0 15px;
}

.media_page .back_btn i {
  font-size: 45px;
}

.media_page .back_btn button {
  padding-top: 7px;
  padding-right: 10px;
}

.width_100p {
  width: 100% !important;
}

.comment_box_div {
  position: fixed;
  width: 100%;
  z-index: 1003;
  top: 50vh;
}

.comment_box {

}
.position_relative {
  position: relative;
}
.position_absolute {
  position: absolute;
}
.width_98p {
  width: 98%;
}
.active_tab:before {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 35%;
  border-width: 9px 9px 0 10px;
  border-style: solid;
  border-color: #B3B3B3 transparent;
  display: block;
  width: 0;
}

.active_tab:after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 35%;
  border-width: 9px 9px 0 10px;
  border-style: solid;
  border-color: #fff transparent;
  display: block;
}

.profile_image {
  background-color: white;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 50%;
  color: black;
}

.close_icon {
  font-size: 30px;
  padding-right: 10px;
}

.four_icons_dimensions {
  width: 20px;
  height: 20px;
}

.four_icons_count {
  position: absolute;
  padding-left: 5px;
}

.my_favour_modal .favor_item {
  border-right: none;
  border-left: none;
  border-top: none;
  width: 95%;
  margin: auto;
  padding: 10px 0;
  border-color: #aaa;
}

.comments_page .comment_item {
  border-right: none;
  border-left: none;
  border-top: none;
  width: 95%;
  margin: auto;
  padding: 10px 0;
  border-color: #aaa;
}

.menu_show {
  position: fixed;
  display: inline;
  padding-top: 10px;
}

.back_btn_show {
  position: fixed;
  display: inline;
  padding-top: 8px;
  z-index: 100;
  background-color: #000000;
  margin: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.back_btn_show i {
  font-size: 35px;
  padding: 0 0 0px 16px;
  text-align: center;
}
.padding_horizontal_20px {
  padding: 0 20px !important;
}







@font-face {
  font-family: 'HelveticaNeue-Thin';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-Thin'), url('../css/fonts/HelveticaNeue-Thin.otf');
}

.helvetica_neue_thin {
  font-family: 'HelveticaNeue-Thin';
}

@font-face {
  font-family: 'HelveticaNeue-UltraLight';
  font-style: normal;
  font-weight: normal;
  src: local('HelveticaNeue-UltraLight'), url('../css/fonts/HelveticaNeue-UltraLight.otf');
}

.helvetica_neue_ultra_light {
  font-family: 'HelveticaNeue-UltraLight';
}


/*swiper pagination CSS START*/

.swiper-pagination {
  top: 200px !important;
  position: fixed !important;
}

.swiper-pagination-bullet-active {
  background: #555 !important;
}

.swiper-slide.swiper-slide-active {
  height: 100vh !important;
}

.swiper-container-vertical > .swiper-pagination .swiper-pagination-bullet {
  margin: 10px 0 !important;
  border: 1px solid #ffffff;
}


.swiper-container-vertical>.swiper-pagination {
  right: 20px !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
}

.swiper-pagination-bullet-active {
  width: 11px !important;
  height: 11px !important;
  border: 3px solid #ffffff !important;
}

/*swiper pagination CSS END*/


/*Media queries START*/

@media (min-width: 400px){
  .media_page .four_icons {
    width: 300px;
    padding-top: 20px;
  }
}

@media (min-width: 680px){
  .modal {
     top: 0%;
     right: 0%;
     bottom: 0%;
     left: 0%;
    min-height: 240px;
     width: 100%;
  }
  .media_page .four_icons {
    width: 350px;
    padding-top: 20px;
  }
}

/*Media queries END*/